
.icon-plus:before { content: '\e800'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
